/* * FONTS */
    /* Popins => Titles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

    /* Open Sans => Paragraphs */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


html {
  --rosita: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%)
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);

}
:root {
    /* Fonts Variables */
    --titles-font: 'Poppins', sans-serif;
    --paraghrahp-font: 'Open Sans', sans-serif;
}
   


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paraghrahp-text);
}