/* * FONTS */
    /* Popins => Titles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

    /* Open Sans => Paragraphs */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    /* Fonts Variables */
    --titles-font: 'Poppins', sans-serif;
    --paraghrahp-font: 'Open Sans', sans-serif;

    /* primary colors */
    html {
        --rosita: hsl(322, 100%, 66%);
        --azulitoGay: hsl(192, 100%, 9%);
        --blancoRaro: hsl(207, 100%, 98%);
        
      }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paraghrahp-text);
}